section#about
	.container
		// Page Header
		.row
			.col-lg-12
				h2.text-center 
					| About Me

		.content
			// Projects Row
			.row
				.col-md-6.portfolio-item
					p
						| After serving for over 12 years as a Commissioned Officer in the Royal Air Force, I left in 2016 to embark on an entirely new career - web development. I have always had an interest in IT, from my early days following through the code in the pages of ZX Spectrum magazines, however it has not been something I ever thought I would be able to do professionally, as I did not study computer science at University, something I believed was a pre-requisite for developing. 
					
					hr
					p 
						| I didn't think it possible until I came across an article in the newspaper about a new kind of learning - coding bootcamps. After researching more about them, I decided to enroll with <a>Makers Academy</a> in London. The 4 month course was excellent, and taught me the principles of software craftsmanship, through coding and pair programming. They also covered best practices of Agile Project Management, in particular the XP principles. The primary language of choice for the course was Ruby and Rails in particular.  

				.col-md-6.portfolio-item     
					p
						| After arriving back in my home city of Bristol, I secured a 6 month contract as a Junior Front End Developer with Deep Blue Sky, a digital agency based in Bath. It was here I refined my skills and knowledge of HTML, CSS (SCSS) and JavaScript, using their in house CMS, Spirit, built in PHP. 
					
					hr
					p
						| After finishing with Deep Blue Sky, I wanted to improve my knowledge of back end development, so decided to build this personal website using node.js. At Deep Blue Sky, they utilised their own CSS framework, so rather than create my own, I decided to use Bootstrap, which has proved to be excellent! 
					
					hr
					p
						| The purpose of this website is three-fold. Firstly, to provide me with a mechanism to try new technologies out, implement them within a 'real world scenario' and get hands on practice building new things. Secondly, it is to showcase what I can do, so in time I aim to expand and improve this site, to demonstrate technical competence and showcase it here. Thirdly, I will use it to host my blog posts and thoughts as I progress through this interesting and challenging career. 

					.social-links.text-center
						a(href='https://twitter.com/stephenrdawes' target="_blank")
							img.icon.icon-twitter(src='icons/icon_twitter.svg')
						a(href='https://github.com/sdawes' target="_blank")
							img.icon.icon-twitter(src='icons/icon_github.svg')
						a(href='https://www.linkedin.com/in/srdawes/' target="_blank")
							img.icon.icon-twitter(src='icons/icon_linkedin.svg') 

			
			
		