// Skills
section#about.about
	.container.text-center
		h2 About Me
			.row
				.content
					.about.col-xs-12.col-md-4 
						img(src="../icons/rncm_icon.jpg", alt="RNCM icon")
						h3 Graduate of the Royal Northern College of Music
					.about.col-xs-12.col-md-4 
						img(src="../icons/raf_logo.svg", alt="raf logo")
						h3 12 years Comissioned Officer in the Royal Air Force
					.about.col-xs-12.col-md-4 
						img(src="../icons/makers_icon.png", alt="Makers Cademy Logo")
						h3 Graduate of Makers Academy


					

			
			
		