// Header
header#top.header
	.content.text-vertical-center.container
		img.main-logo(src='icons/logo.svg')
		h2 I'm Steve, a Web Developer based in Bristol. This is my website. 
		p This website was developed using express.js, HTML5, SCSS and JavaScript. I used the Bootstrap CSS framework for the front end, and deployed using Heroku. 
		a.btn.btn-lg.btn-main(href='#about') Find Out More
		.social-links
			a(href='https://twitter.com/stephenrdawes' target="_blank")
				img.icon.icon-twitter(src='icons/icon_twitter.svg')
			a(href='https://github.com/sdawes' target="_blank")
				img.icon.icon-twitter(src='icons/icon_github.svg')
			a(href='https://www.linkedin.com/in/srdawes/' target="_blank")
				img.icon.icon-twitter(src='icons/icon_linkedin.svg')