head
	title= bemmiemonster

	meta(name="viewport" content="initial-scale=1.0")

	link(rel="stylesheet", href="css/bootstrap.css")
	link(rel="stylesheet", href="css/stylish.css")
	link(rel='stylesheet', href='css/style.css')

	// Custom Fonts
	link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Open+Sans|Raleway' rel="stylesheet")


