// Navigation
a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#')
    i.fa.fa-bars
nav#sidebar-wrapper
    ul.sidebar-nav
        a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
            i.fa.fa-times
        li.sidebar-brand
            a(href='/#top', onclick='$("#menu-close").click();') Home
        li
            a(href='/#about', onclick='$("#menu-close").click();') About
        li
            a(href='/#build', onclick='$("#menu-close").click();') Build
        li
            a(href='/#skills', onclick='$("#menu-close").click();') Skills
        li
            a(href='/#tech-demos', onclick='$("#menu-close").click();') Technical Demos
        li
            a(href='./#contact_form', onclick='$("#menu-close").click();') Contact Me
