// Navigation
a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#')
    i.fa.fa-bars
nav#sidebar-wrapper
    ul.sidebar-nav
        a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
            i.fa.fa-times
        li.sidebar-brand
            a(href='/', onclick='$("#menu-close").click();') Home
        li
            a(href='/#build', onclick='$("#menu-close").click();') Build
        li
            a(href='/#skills', onclick='$("#menu-close").click();') Skills
        li
            a(href='/#', onclick='$("#menu-close").click();') Blog
        li
            a(href='/#', onclick='$("#menu-close").click();') Portfolio
        li
            a(href='./#contact_form', onclick='$("#menu-close").click();') Contact Me
