// Skills
section#skills.skills
	.container.text-center
		h2 My Skills
		.row
			.content
				.skill.col-xs-12.col-sm-6.col-md-4 
					img(src="../icons/icon_html5.svg", alt="html5 logo")
					h3 HTML5
				.skill.col-xs-12.col-sm-6.col-md-4 
					img(src="../icons/icon_jade.svg", alt="Jade logo")
					h3 Jade
				.skill.col-xs-12.col-sm-6.col-md-4 
					img(src="../icons/icon_css3.svg", alt="css3 logo")
					h3 CSS
				.skill.col-xs-12.col-sm-6.col-md-4 
					img(src="../icons/icon_sass.svg", alt="sass logo")
					h3 SCSS
				.skill.col-xs-12.col-sm-6.col-md-4 
					img(src="../icons/icon_js.svg", alt="javascript logo")
					h3 JavaScript
				.skill.col-xs-12.col-sm-6.col-md-4 
					img(src="../icons/icon_node.svg", alt="node.js logo")
					h3 Node.js
				.skill.col-xs-12.col-sm-6.col-md-4 
					img(src="../icons/icon_rails.svg", alt="runy on rails logo")
					h3 Ruby on Rails
				.skill.col-xs-12.col-sm-6.col-md-4 
					img(src="../icons/icon_git.svg", alt="git logo")
					h3 Git
				.skill.col-xs-12.col-sm-6.col-md-4 
					img(src="../icons/icon_bootstrap.svg", alt="bootstrap logo")
					h3 Bootstrap
				
		