section#tech-demos
	// Page Content
	.container
		// Page Header
		.row
			.col-lg-12.text-center
				h2.text-center
					| Technical Demos
				a.btn.btn-lg.btn-main(href='#') View all tech demos
		
		.content
			// Projects Row
			.row
				.col-md-4.portfolio-item
					a(href='#')
						img.img-responsive(src='../img/tech-demo_twitterApi.jpg', alt='twitter API tech demo')
					h3
						a(href='#') Twitter API
					p
						| I followed through a tutorial courtesy of Nodecasts, on using the npm package 'Twitter' to build a simple RESTful API to display the people you follow, who don't follow you back! 
				.col-md-4.portfolio-item
					a(href='#')
						img.img-responsive(src='http://placehold.it/700x400', alt='')
					h3
						a(href='#') Project Name
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
				.col-md-4.portfolio-item
					a(href='#')
						img.img-responsive(src='http://placehold.it/700x400', alt='')
					h3
						a(href='#') Project Name
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
		
		
		
