section#tech-demos
	// Page Content
	.container
		// Page Header
		.row
			.col-lg-12.text-center
				h2.text-center
					| Technical Demos
				a.btn.btn-lg.btn-main(href='#') View all tech demos
		
		.content
			// Projects Row
			.row
				.col-md-4.portfolio-item
					a(href='#')
						img.img-responsive(src='../img/tech-demo_twitterApi.jpg', alt='twitter API tech demo')
					h3
						a(href='#') Twitter API
					p
						| I followed through a tutorial courtesy of Nodecasts, on using the npm package 'Twitter' to build a simple RESTful API to display the people you follow, who don't follow you back! 
				.col-md-4.portfolio-item
					a(href='#')
						img.img-responsive(src='../img/tech-demo_reactSB.jpg', alt='react scoreboard tech demo')
					h3
						a(href='#') React Scoreboard
					p
						| This is my first attempt at following through a basic React tutorial, courtesy of Treehouse. This enabled me to see the power of React and build a simple scoreboard. 
				
		
		
		
