section#tech-demos
	// Page Content
	.container
		// Page Header
		.row
			.col-lg-12.text-center
				h2.text-center
					| Technical Demos
				a.btn.btn-lg.btn-main(href='#') View all tech demos
		
		.content
			// Projects Row
			.row
				.col-md-4.portfolio-item
					a(href='./reactApp')
						img.img-responsive(src='../img/tech-demo_reactSB.jpg', alt='react scoreboard tech demo')
					h3
						a(href='./reactApp') React Scoreboard
					p
						| This is my first attempt at following through a basic React tutorial, courtesy of Treehouse. This enabled me to see the power of React and build a simple scoreboard. 
				
		
		
		
