fieldset {
	legend {
		border-bottom: none;
	}
}
.form-group {
	label {

	}
	.inputGroupContainer {
		.input-group {
			margin-bottom: 20px;
			.input-group-addon {
				background-color: rgba($color-tertiary, 0.2);
				font-size: 16px; 
				border: none;
			} 
			input {
				height: 50px;
				border: none;
			}
			textarea {
				border: none;
			}
		}
		.glyphicon-remove,
		.glyphicon-ok {
			top: 8px;
			right: 42px;
			z-index: 5;
		}
	}
}

.form-group.has-error {
	.inputGroupContainer {
		.input-group {
			border: 1px solid $color-special;
			input, textarea {
				box-shadow: none;
			}
			
		}
	}
}

.form-group.has-success {
	.inputGroupContainer {
		.input-group {
			border: 1px solid green;
			input, textarea {
				box-shadow: none;
			}
				
		}
	}
}

#success-message {
	
}



// media queries
// ==========================================