#top {
	background-color: $x-color-lightBlue;
	.content {
		.main-logo {
			width: 200px;
			margin-bottom: 12px;
		}
		h2 {
			margin-bottom: 38px;
		}
		p {
			margin-bottom: 38px;
		}
		.social-links {
			margin-top: 40px;
			a {
				width: auto;
				&:first-child {
					margin-right: 10px;
				}
				&:last-child {
					margin-left: 10px;
				}
			}
			.icon {
				width: 35px;
				display: inline-block;
			}
		}

	}
}

// media queries
// ==========================================

@media (min-width: 768px) { 
	#top {
		
		.content {
			background-image: url('../icons/monster_1.svg');
			background-repeat: no-repeat;
			background-size: 150px;
			background-position: bottom 3em right 3em;
			.main-logo {
				width: 400px;
			}
			.social-links {
				.icon {
					width: 50px;
				}
			}
		}
	}
}

@media (min-width: 992px) { 
	#top {
		background-size: 200px;
	}
}



