section#skills {
	// border: 2px dashed red;
	background-color: $color-white;
	padding: 50px;
	.container {
		// border: 1px solid cyan;
		.row {
			// border: 1px solid pink;
			margin-top: 30px;
			.content {
				.skill {
					// border: 1px solid red;
					padding: 16px;
					img {
						height: 50px;
						width: 50px;
					}
					h3 {
						display: none;
					}
				}
				
			}
		}
	}
}

// media queries
// ==========================================

@media (min-width: 768px) {
	section#skills {

		.container {

			.row {
				.content {
					.skill {
						padding: 16px;
						img {
							height: 100px;
							width: 100px;
						}
						h3 {
						}
					}
					
				}
			}
		}
	}
}