h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

p {
	font-size: 12px;
}

// media queries
// ==========================================

@media (min-width: 768px) {
	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 18px;
	}

	p {
		font-size: 14px;
	}
}

