#top {
	background-color: $x-color-lightBlue;
	.content {
		.main-logo {
			width: 200px;
			margin-bottom: 10px;
		}
		h2 {
			margin-bottom: 33px;
		}
		p {
			margin-bottom: 40px;
		}
		a {
		}

	}
}



