extends ./layout.jade

block content

	// Header
	header#top.header
		.content.text-vertical-center.container
			img.main-logo(src='icons/logo.svg')
			h2 I'm Steve Dawes, a Web Developer based in Bristol. This is my website. 
			p This website was developed in HTML5, CSS, SCSS, Jade and JavaScript, using the Bootstrap framework and deployed with Express.js
			a.btn.btn-lg.btn-main(href='#about') Find Out More
	// About
	section#about.about
		.container
			.row
				.col-lg-12.text-center
					h2 Stylish Portfolio is the perfect theme for your next project!
					p.lead
						| This theme features some wonderful photography courtesy of 
						a(target='_blank', href='http://join.deathtothestockphoto.com/') Death to the Stock Photo
						| .
			// /.row
		// /.container

		
		
				








