extends ./layout.jade

block content

	// Header
	header#top.header
		.text-vertical-center
			h1 PODEG DESIGN
			h3 Personal website for Stephen Dawes, Bristol based Web Developer
			br
			h4 This website was developed in HTML5, CSS, SCSS, Jade and JavaScript, 
			h4 using the Bootstrap framework and deployed with Express.js
			br
			br
			a.btn.btn-dark.btn-lg(href='#about') Find Out More
	// About
	section#about.about
		.container
			.row
				.col-lg-12.text-center
					h2 Stylish Portfolio is the perfect theme for your next project!
					p.lead
						| This theme features some wonderful photography courtesy of 
						a(target='_blank', href='http://join.deathtothestockphoto.com/') Death to the Stock Photo
						| .
			// /.row
		// /.container

		
		
				








