doctype html
html(lang="en")
	include ../partials/_head.jade

	body.page-top
	include ../partials/_nav.jade
	block content

	// jQuery
	script(src='js/jquery.js')
	// custom js
	script(src='js/script.js')
