extends ./layout.jade
    
block content

	.container.twitter-user
		div.row
			div.col-md-6.col-md-offset-3
				h1.text-center Follow Back List
				form(action="/twitter", method="POST")
					input.form-control(type="text", name="twitter_name", placeholder="Enter Name")
					input.form-control.btn.btn-primary(type="submit", value="Get Users")

	.container.twitter-following
		div.row
			div.col-md-6.col-md-offset-3
				h1.text-center People that dont follow you back
				ul.list-group
					//- each user in users
					//- 	a(href="https://twitter.com/" + user.screen_name)
					//- 		img(src=user.avatar)
					//- 		span= user.name
					//- 		span @
					//- 		span= user.screen_name