.btn-main {
  background-color: #c12127;
  color: #ecf0f1;
  font-size: 18px; }
  .btn-main:hover {
    color: #ecf0f1;
    background-color: rgba(193, 33, 39, 0.8); }

a.btn {
  font-size: 18px; }

#sidebar-wrapper {
  background-color: #2a2a2a; }
  #sidebar-wrapper .sidebar-nav li {
    line-height: 50px; }
    #sidebar-wrapper .sidebar-nav li.sidebar-brand {
      background-color: #c12127; }
    #sidebar-wrapper .sidebar-nav li a {
      color: #ecf0f1;
      font-size: 18px; }
      #sidebar-wrapper .sidebar-nav li a:hover {
        color: #2a2a2a;
        background-color: #72c8f9; }

@media (min-width: 1200px) {
  #sidebar-wrapper.active {
    width: 500px; }
  #sidebar-wrapper .sidebar-nav {
    width: 500px; }
    #sidebar-wrapper .sidebar-nav li {
      line-height: 50px; }
      #sidebar-wrapper .sidebar-nav li.sidebar-brand {
        background-color: #c12127; }
      #sidebar-wrapper .sidebar-nav li a {
        color: #ecf0f1;
        font-size: 18px; }
        #sidebar-wrapper .sidebar-nav li a:hover {
          color: #2a2a2a;
          background-color: #72c8f9; } }
form#contact_form {
  padding: 50px 0;
  background-color: #ecf0f1;
  height: auto; }
  form#contact_form .container .form-row {
    padding-left: 0;
    padding-right: 0; }
    form#contact_form .container .form-row .form-group {
      padding: 0; }
      form#contact_form .container .form-row .form-group span.glyphicon.glyphicon-send {
        margin-left: 5px; }

@media (min-width: 768px) {
  form#contact_form .container .form-row .form-group .inputGroupContainer small {
    position: absolute;
    top: 53px; }
  form#contact_form .container .form-row .form-group .inputGroupContainer.text-area small {
    position: absolute;
    top: 113px; } }
h1, h2, h3, h4, h5, h6, p, a, label, legend {
  color: #2a2a2a; }

h2, legend {
  font-size: 24px; }

h3 {
  font-size: 16px; }

h4, label {
  font-size: 14px; }

p {
  font-size: 12px; }

@media (min-width: 768px) {
  h2, legend {
    font-size: 30px; }

  h3 {
    font-size: 18px; }

  h4, label {
    font-size: 16px; } }
#top {
  background-color: #72c8f9; }
  #top .content .main-logo {
    width: 200px;
    margin-bottom: 12px; }
  #top .content h2 {
    margin-bottom: 38px; }
  #top .content p {
    margin-bottom: 38px; }
  #top .content .social-links {
    margin-top: 40px; }
    #top .content .social-links a {
      width: auto; }
      #top .content .social-links a:first-child {
        margin-right: 10px; }
      #top .content .social-links a:last-child {
        margin-left: 10px; }
    #top .content .social-links .icon {
      width: 35px;
      display: inline-block; }

@media (min-width: 768px) {
  #top .content {
    background-image: url("../icons/monster_1.svg");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: bottom 3em right 3em; }
    #top .content .main-logo {
      width: 400px; }
    #top .content .social-links .icon {
      width: 50px; } }
@media (min-width: 992px) {
  #top {
    background-size: 200px; } }
section#skills {
  background-color: #ecf0f1;
  padding: 50px; }
  section#skills .container .row {
    margin-top: 30px; }
    section#skills .container .row .content .skill {
      padding: 16px; }
      section#skills .container .row .content .skill img {
        height: 50px;
        width: 50px; }
      section#skills .container .row .content .skill h3 {
        display: none; }

@media (min-width: 768px) {
  section#skills .container .row .content .skill {
    padding: 16px; }
    section#skills .container .row .content .skill img {
      height: 100px;
      width: 100px; } }
fieldset legend {
  border-bottom: none; }

.form-group .inputGroupContainer .input-group {
  margin-bottom: 20px; }
  .form-group .inputGroupContainer .input-group .input-group-addon {
    background-color: rgba(39, 53, 71, 0.2);
    font-size: 16px;
    border: none; }
  .form-group .inputGroupContainer .input-group input {
    height: 50px;
    border: none; }
  .form-group .inputGroupContainer .input-group textarea {
    border: none; }
.form-group .inputGroupContainer .glyphicon-remove,
.form-group .inputGroupContainer .glyphicon-ok {
  top: 8px;
  right: 42px;
  z-index: 5; }

.form-group.has-error .inputGroupContainer .input-group {
  border: 1px solid #c12127; }
  .form-group.has-error .inputGroupContainer .input-group input, .form-group.has-error .inputGroupContainer .input-group textarea {
    box-shadow: none; }

.form-group.has-success .inputGroupContainer .input-group {
  border: 1px solid green; }
  .form-group.has-success .inputGroupContainer .input-group input, .form-group.has-success .inputGroupContainer .input-group textarea {
    box-shadow: none; }

/*# sourceMappingURL=style.css.map */
